---
import Layout from "../../layouts/Layout.astro";
import { Blog } from "../../components/Blog";
import { BlogBody, generateTableOfContent } from "../../components/ParseOfBody";
import { Breadcrumbs } from "../../components/Breadcrumbs";
import { newtClient } from "../../lib/newt";
import type { Article } from "../../lib/newt";

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: "blog",
    modelUid: "article",
    query: {
      select: ["title", "slug", "body", "category", "coverImage", "updatedAt"],
    },
  });
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
};
type Props = {
  article: Article;
};
const { article } = Astro.props;
const toc: string = generateTableOfContent(article.body);
const updatedAt = new Date(article.updatedAt).toLocaleString("ja");
---

<Layout id="blogDetail" title={article.title} description="投稿詳細ページです">
  <Breadcrumbs>
    <Breadcrumbs.ul>
      <Breadcrumbs.li><a href="/">Home</a></Breadcrumbs.li>
      <Breadcrumbs.li>{article.title}</Breadcrumbs.li>
    </Breadcrumbs.ul>
  </Breadcrumbs>
  <Blog>
    <Blog.Image>
      <img
        class="max-w-sm"
        src={article.coverImage.src}
        alt={article.coverImage.altText}
      />
    </Blog.Image>
    <div class="my-10 grid grid-cols-4 grid-rows-6">
      <Blog.Title>{article.title}</Blog.Title>
      <Blog.UpdatedAt>
        {updatedAt}
      </Blog.UpdatedAt>
      <Blog.Category>
        {article.category.name}
      </Blog.Category>
    </div>
    <Blog.Toc>
      {toc}
    </Blog.Toc>
    <Blog.Body>
      <BlogBody body={article.body} />
    </Blog.Body>
  </Blog>
</Layout>
