---
import Layout from "@layouts/Layout.astro";
import Blog from "@page-components/Articles/Blog";
import { generateTableOfContent } from "@page-components/Articles/ParseOfBody";
import {Breadcrumbs} from "@components/Breadcrumbs/Breadcrumbs";
import {getContents} from "@lib/newtClient";
import type { PostItem } from "@lib/newt";

export const getStaticPaths = async () => {
  const posts = await getContents();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};
type Props = {
  post: PostItem;
};
const { post } = Astro.props;
const toc: string = generateTableOfContent(post.content);
const updatedAt = new Date(post.date).toLocaleString("ja");
---

<Layout id="detail" title={post.title} description="投稿詳細ページです">
  <Breadcrumbs>
    <Breadcrumbs.ul>
      <Breadcrumbs.li><a href="/">Home</a></Breadcrumbs.li>
      <Breadcrumbs.li>{post.title}</Breadcrumbs.li>
    </Breadcrumbs.ul>
  </Breadcrumbs>
  <Blog.TOC html={toc} />
  <Blog>
    <Blog.Image>
      <img
        class="max-w-sm"
        src={post.thumbnail.src}
        alt={post.thumbnail.altText}
      />
    </Blog.Image>
    <div class="my-10">
      <Blog.Title>{post.title}</Blog.Title>
      <div class="flex justify-around items-center">
        <Blog.UpdatedAt>
          最終更新日：{updatedAt}
        </Blog.UpdatedAt>
        <Blog.Category>
          {post.category.name}
        </Blog.Category>
      </div>
    </div>
    <Blog.Body content={post.content} />
  </Blog>
</Layout>
