---
import type { CategoryItem } from "@lib/newt";
import CategoryList from "@features/CategoryList";
type Props = {
  data: CategoryItem[];
  url: string;
  category?: string;
};

const { data, url,category } = Astro.props;
const border = `border-2 border-base-300 rounded-lg`;
const padding = "p-10";
const background = `bg-base-200`;
const shadow = `shadow-2xl`;
const text = `font-bold`;
const style = `${border} ${padding} ${background} ${shadow} ${text}`;
---
<div class={style}>
  <div class="grid grid-cols-4 gap-2 items-center">
    <CategoryList data={data} url={url} category={category} />
  </div>
</div>
