---
import { Picture } from 'astro:assets';
import type { ImageMetadata } from 'astro';
interface Props {
  title: string;
  description: string;
  pubDate: string;
  tags?: string[];
  image?: ImageMetadata;
  isNew?: boolean;
}
const {
  title,
  description,
  pubDate,
  tags = [],
  image,
  isNew = false
} = Astro.props;

const formattedDate = new Date(pubDate).toLocaleDateString('ja-JP', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});

const IMAGE_SIZE = 120;
---

<div class="card card-side bg-neutral shadow-xl">
  {image && (
    <figure class="flex items-center min-w-[160px] p-4">
      <div class="w-[120px] h-[120px] shrink-0">
        <Picture
          src={image}
          formats={['avif', 'webp', 'jpg']}
          width={IMAGE_SIZE}
          height={IMAGE_SIZE}
          alt={title}
          class="w-full h-full object-cover bg-neutral-content rounded-lg"
        />
      </div>
    </figure>
  )}
  <div class="card-body py-4 pr-4">
    <h2 class="card-title">
      {title}
      {isNew && <div class="badge badge-secondary badge-sm">NEW</div>}
    </h2>
    <div class="text-sm text-gray-500">
      <time datetime={pubDate}>{formattedDate}</time>
    </div>
    <p class="text-base-content/70">{description}</p>
    {tags && tags.length > 0 && (
      <div class="card-actions justify-end">
        {tags.map(tag => (
          <div class="badge badge-outline badge-sm hover:badge-primary">
            {typeof tag === 'object' ? JSON.stringify(tag) : tag}
          </div>
        ))}
      </div>
    )}
  </div>
</div>
