---
import Article from "@components/ArticleCard/Article";
import Pagination from "@components/Pagination/Pagination.astro";
import Category from "@components/Categries/Categories.astro";

import { getContents } from "@lib/newtClient";
import { categoryContent } from "@lib/category";

import type { GetStaticPathsOptions } from "astro";
import type { PostItem } from "@lib/newt";

import Layout from "@layouts/Layout.astro";
import type { Page } from "@myTypes/index";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postsContents = await getContents();
  return paginate(postsContents, {
    pageSize: 9,
  });
}
type Props = {
  page: Page;
};
const { page } = Astro.props;
const data: PostItem[] = page.data;
const url = import.meta.env.SITE_URL;
---

<Layout id="top" title="NeoEveLog" description="NeoEveLog">
  <Category url={url} data={categoryContent} />
  <div class="main grid justify-center lg:grid-cols-2 xl:grid-cols-3">
    {
      data.map((item,index) => (
        <Article key={index} article={item} />
      ))
    }
  </div>
  <Pagination page={page} />
</Layout>
