---
import { MyHeader } from "../components/Header";
import { MySidebar } from "../components/Sidebar";
import { MyFooter } from "../components/Footer";
import "../styles/global.scss";
import { newtClient } from "../lib/newt";
import type { Article, Category } from "../lib/newt";

export interface Props {
  title: string;
  description: string;
  id : string;
}
const { items: categoryData } = await newtClient.getContents<Article>({
  appUid: "blog",
  modelUid: "article",
  query: {
    select: ["category"],
  },
});
const categoryContent = categoryData
  .map((category: Article): Category => {
    return {
      name: category.category.name,
      slug: category.category.slug,
    };
  })
  .filter(
    (category, index, self) =>
      self.findIndex((e) => e.name === category.name) === index
  );

const { title, description,id } = Astro.props;
const url = import.meta.env.SITE_URL;
---

<!DOCTYPE html>
<html lang="ja" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body id={id}>
    <div class="wrap">
      <MyHeader url={url} />
      <MySidebar url={url} category={categoryContent}>Category</MySidebar>
      <slot />
      <MyFooter>Footer (static HTML)</MyFooter>
    </div>
  </body>
</html>
